<ion-view title="Change Password">
  <ion-content has-header="true" padding="true">
    
    <form name="changePasswordForm" ng-submit="changePassword(credentials)" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="password" placeholder="Current Password" ng-model="credentials.currentPassword">
        </label>

        <label class="item item-input">
          <input type="password" placeholder="New Password" ng-model="credentials.newPassword">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Verify New Password" ng-model="credentials.verifyNewPassword">
        </label>
      </div>

      <button class="button button-block button-assertive icon-right ion-alert-circled">
        Change Password
      </button>
    </form>
    
  </ion-content>
</ion-view>