<ion-view title="eggsnramen">

  <ion-nav-buttons side="right" ng-if="loggedIn">
    <button class="button button-clear button-positive icon-right ion-chevron-right" ui-sref="tab.favorites">Favorites</button>
  </ion-nav-buttons>

<!-- Main Content of Dashbord/Home -->
<ion-content class="padding">

        <!-- Test Actions Button
        <button class="button button-hungry button-block button-positive" ng-click="test()">
            Test()
        </button>
      -->

      <!-- "I'm Hungry" Button -->
      <a class="button button-hungry button-block button-assertive icon-right ion-chevron-right" ui-sref="tab.ingredients">
        Let's Cook!
      </a>

      <!-- Your Recent Section-->
      <!-- ng-show directive and ng-hide class only shows Your Recent if user is logged in -->
      <div ng-show="user.username" class="card dash-card" ng-if="recipeArr.length > 0">
        <div class="item item-divider">
          Recently Used
        </div>
        <div class="item item-text-wrap item-avatar" ng-repeat="recipe in recipeArr" ng-click="recipeActionSheet(recipe.name)">
          <img ng-src="{{ recipe.image }}">
          <h2>
            {{ recipe.name }}&nbsp;&nbsp;
            <i class="icon ion-leaf balanced" ng-if="recipe.difficulty == 0"></i>
            <i class="icon ion-flame energized" ng-if="recipe.difficulty == 1"></i>
            <i class="icon ion-egg royal" ng-if="recipe.difficulty == 2"></i>
          </h2>
          <p>{{ recipe.description }}</p>
        </div>
      </div>

      <!-- Popular Section -->
      <div class="card dash-card">
        <div class="item item-divider">
          Popular
        </div>
        <div class="item item-text-wrap item-avatar" ng-repeat="recipe in popularArr" ng-click="recipeActionSheet(recipe.name)">
          <img ng-src="{{ recipe.image }}">
          <h2>
            {{ recipe.name }}&nbsp;&nbsp;
            <i class="icon ion-leaf balanced" ng-if="recipe.difficulty == 0"></i>
            <i class="icon ion-flame energized" ng-if="recipe.difficulty == 1"></i>
            <i class="icon ion-egg royal" ng-if="recipe.difficulty == 2"></i>
          </h2>
          <p>{{ recipe.description }}</p>
        </div> 
      </div>

    </ion-content>
  </ion-view>
