<ion-view title="Account">
  <ion-content class="padding">

    <form name="loginForm" ng-submit="login(credentials)" novalidate>
      <div class="list list-inset">
        <div class="item item-divider">
          Login
        </div>

        <label class="item item-input">
          <input type="text" id="username" placeholder="Username" ng-model="credentials.username"/>
        </label>

        <label class="item item-input">
          <input type="password" id="password" placeholder="Password" ng-model="credentials.password"/>
        </label>

        <button type="submit" class="button button-block button-positive">
          Login
        </button>
      </div>
    </form>

    <div class="right">
      <button class="button button-small button-dark" ng-click="forgotPassword()">
        Forgot Password?
      </button>
    </div>

  </ion-content>
</ion-view>
