<ion-view title="Check off your ingredients!">
  <ion-content class="">    
    <ion-checkbox class="ingredients-list" ng-repeat="ingredient in ingredients">
      {{ ingredient.name }}
      <div class="description">{{ ingredient.description }}</div>
    </ion-checkbox>
    
    <div class="padding"> <!-- padding class makes the button not touch the edges -->
      <a class="button button-hungry button-block button-positive" ui-sref="tab.ingredients-results">
        Next
      </a>
    </div>
  </ion-content>
</ion-view>
