<ion-view title="eggs n ramen">

    <!-- Buttons on Navbar -->
    <ion-nav-buttons side="left">
        <button class="button button-light icon ion-navicon" ng-click="doSomething()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-light icon ion-search"></button>
    </ion-nav-buttons>
  
    <!-- Main Content of Dashbord/Home -->
    <ion-content class="padding">
       
        <!-- "I'm Hungry" Button -->
        <div class="center">
            <button class="button button-hungry button-block button-assertive">I'm Hungry!</button>
        </div>
        
        <!-- Your Recent Section-->
        <h3>Your Recent</h3>
        
        <div class="row">
            <div class="col">
                <div class="item divider">Header</div>
                <div class="item item-text-wrap">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
            <div class="col">
                <div class="item item-text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, doloribus?
                </div>
            </div>
            <div class="col">
                <div class="item item-text-wrap">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio enim nisi a fuga, quos sit.
                </div>
            </div>
        </div>
        
        
        
        
        <!-- Popular Section -->
        <hr>
        <h3>Popular</h3>
        
    </ion-content>
</ion-view>
