<ion-view title="eggsnramen">

    <!-- Buttons on Navbar -->
    <ion-nav-buttons side="left">
        <button class="button button-light icon ion-navicon" ng-click="doSomething()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-light icon ion-search"></button>
    </ion-nav-buttons>
  
    <!-- Main Content of Dashbord/Home -->
    <ion-content class="padding">
       
        <!-- "I'm Hungry" Button -->
        <a class="button button-hungry button-block button-assertive" ui-sref="tab.ingredients">
          Let's Cook!
        </a>
        
        <!-- Your Recent Section-->
        <br>
        <div class="dash-card">
            <span class="card-title">Recently Used</span>
            <div class="row">

                <!-- Your Recent 1 -->
                <div class="col">
                    <div class="item divider recipe-item-header">Sample Food 1</div>

                    <div class="item item-image">
                        <img src="http://i.imgur.com/bpLKCav.jpg" alt="">
                    </div>

                    <div class="item item-text-wrap">
                        A delicious treat you made before.
                    </div>
                </div>
                
                <!-- Your Recent 2 -->
                <div class="col">
                    <div class="item divider recipe-item-header">Sample Food 1</div>

                    <div class="item item-image">
                        <img src="http://i.imgur.com/tQt0xas.png" alt="">
                    </div>

                    <div class="item item-text-wrap">
                        Something yummy you always like.
                    </div>
                </div>
            </div> <!-- End 'row' -->
        </div>
        
        <!-- Popular Section -->
        <br>
        <div class="dash-card">
            <span class="card-title">Popular</span>
            <div class="row" data-equal-heights>

                <!-- Your Recent 1 -->
                <div class="col">
                    <div class="item divider recipe-item-header">Sample Food 1</div>

                    <div class="item item-image">
                        <img src="http://i.imgur.com/a1GwO8A.jpg" alt="">
                    </div>

                    <div class="item item-text-wrap">
                        Try this new scrumptious food!
                    </div>
                </div>

                <!-- Your Recent 2 -->
                <div class="col">
                    <div class="item divider recipe-item-header">Sample Food 1</div>

                    <div class="item item-image">
                        <img src="http://i.imgur.com/7h6CwQl.jpg" alt="">
                    </div>

                    <div class="item item-text-wrap">
                        This tasty bite is a friend favorite.
                    </div>
                </div>

                <!-- Your Recent 3 -->
                <!--<div class="col">
                    <div class="item divider recipe-item-header">Sample Food 1</div>

                    <div class="item item-image">
                        <img src="http://lorempicsum.com/nemo/400/200/3" alt="">
                    </div>

                    <div class="item item-text-wrap">
                        Lorem ipsum dolor sit amet.
                    </div>
                </div>-->
            </div> <!-- End 'row' -->
        </div>
        
    </ion-content>
</ion-view>
