/* Styles go here! */

/* Color Collection */
/** Color set 1: Vintage Romatic **/
$color-vr-1: #260126;
$color-vr-2: #59323C;
$color-vr-3: #F2EEB3;
$color-vr-4: #BFAF80;
$color-vr-5: #8C6954;

/**  Colors by Ionic **/
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

$color-description: #adadad;

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

.button-hungry {
  
  box-shadow: 2px 2px 2px #888;
  font-size: 400%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.recipe-item-header {

  background-color: $color-vr-2;
  color: white;
  font-weight: bold;
}

.sticky-footer {

  padding: 0px;

  button {
    height: 100%;
  }
}

.dash-card {
  
  .card-title {
    
    font-size: 175%;
  }
  
}

.ingredients-list {}

.description {
  color: $color-description;
}

.center {
  text-align: center;
}

.left {
  text-align: left; 
}

.right {
  text-align: right; 
}

.img-responsive {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

* {
  font-family: 'PT Sans Narrow' !important;   
}


// Form validation by: https://calendee.com/2014/12/26/validation-in-ionic-framework-apps-with-ngmessages/
/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

